<html>
<head>
    <title>Geometry Web App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <h3>Geometry Calculator</h3>
    <h4>Please Select From the Following: </h4>

    <form action="{{ url_for("mainForm")}}" method="post">
        <div class = "container">
            <div> 
            <!-- SPHERE -->
                <img class = "image" src="./static/Images/sphere.png" alt="sphere"> 
                <input type="radio" id="sphere" name="sphere">
                <label for="sphere">Sphere</label></br>
            </div>
            <div> 
            <!-- CYLINDER -->
                <img class = "image" src="./static/Images/cylinder.png" alt="cylinder"> 
                <input type="radio" id="cylinder" name="cylinder">
                <label for="cylinder">Cylinder</label></br>
            </div> 
            <div> 
            <!-- CONE -->
                <img class = "image" src="./static/Images/cone.png" alt="cone"> 
                <input type="radio" id="cone" name="cone">
                <label for="cone">Cone</label></br>
            </div> 
            <div>
            <!-- CUBOID -->
                <img class = "image" src="./static/Images/cuboid.png" alt="cuboid"> 
                <input type="radio" id="cuboid" name="cuboid">
                <label for="cuboid">Cuboid</label></br>
            </div>
        </div>
        <div class = "button">
            <button class = "buttonInside" type="submit">Make Selection</button>
        </div>
    </form>
</body>
</html>